<button (click)="fetch()">Fetch Data</button>
<table class="table table-striped">
  <tbody>
  <tr>
    <th>Loan Id</th>
    <th>Loan Type</th>
    <th>Opening Date</th>
    <th>Closing Date</th>
    <th>Loan Amount</th>
  </tr>
  <tr *ngFor="let eachCustomer of customerList">
    <td>{{eachCustomer.loanId}}</td>
    <td>{{eachCustomer.loanType}}</td>
    <td>{{eachCustomer.openDate}}</td>
    <td>{{eachCustomer.closeDate}}</td>
    <td>{{eachCustomer.loanAmount}}</td>
  </tr>
  </tbody>
</table>
